:root {
  --header-height: 70px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  overflow: hidden;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background: #1e1e28;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.top-nav .logo {
  font-weight: bold;
  font-size: 20px;
}

.top-nav nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
}

.top-nav nav a:hover {
  color: #fff;
}

#game-container {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
}

#intro-overlay {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at top, #838570 0%, #818154 45%, #c7c2ac 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000; 
  transition: opacity 0.4s ease;
}

.intro-panel {
  max-width: 700px;
  padding: 32px 40px;
  background: rgb(175, 154, 115);
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  text-align: center;
  border: 2px solid rgba(255, 237, 73, 0.582);
}

.intro-panel h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
}

.intro-panel p {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  color: #e4e4e4;
}

.intro-panel button {
  padding: 10px 24px;
  font-size: 25px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background: #d4b527;
  color: #0b1115;
  font-weight: 600;
  transition: transform 0.1s ease, box-shadow 0.1s ease, background 0.2s ease;
}

.intro-panel button:hover {
  background: #d4ca46;
  box-shadow: 0 0 12px rgba(208, 159, 12, 0.7);
  transform: translateY(-1px);
}

.intro-panel button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.intro-logo {
  width: 200px;      
  height: auto;
  margin-bottom: 20px;
  filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4));
  user-select: none;
  text-align: center;
  left: 50%;
}

#intro-overlay {
  pointer-events: all;
}

